 <div class="row">
    <div class="col s12">
      <div class="input-field col s12">
            <select class="c-select">
            <option value="">Elige una Arbitro</option>
            <option *ngFor="let referi of listReferies" value="{{referi.Clave}}">{{referi.Nombre}}</option>
          </select>
    </div>
    <div class="col s6 m6">
      <div class="card light-blue darken-1">
        <div class="card-content white-text">
          <span class="card-title">Partido {{partido}} Ronda {{ronda}}<br> Equipo {{eq1}} VS Equipo {{eq2}}</span>
          <p>Lugar: Paca {{paca}}, Equipo {{eq1}} </p>
            <span class="row">
            <i class="material-icons prefix">account_circle</i>
            Tirador1:
                 <form class="col s12">
                      <div class="input-field col s3 white-text">
                          <input id="Tiro111" type="number" class="validate">
                          <label for="Tiro111">Tiro1</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro112" type="number" class="validate">
                          <label for="Tiro112">Tiro2</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro113" type="number" class="validate">
                          <label for="Tiro13">Tiro3</label>
                      </div>
                 </form>
            </span>
            <span class="row">
            <i class="material-icons prefix">account_circle</i>
            Tirador2:
                 <form class="col s12">
                      <div class="input-field col s3 white-text">
                          <input id="Tiro121" type="number" class="validate">
                          <label for="Tiro121">Tiro1</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro122" type="number" class="validate">
                          <label for="Tiro122">Tiro2</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro123" type="number" class="validate">
                          <label for="Tiro123">Tiro3</label>
                      </div>
                 </form>
            </span>
            <span class="row">
            <i class="material-icons prefix">account_circle</i>
            Tirador3:
                 <form class="col s12">
                      <div class="input-field col s3 white-text">
                          <input id="Tiro31" type="number" class="validate">
                          <label for="Tiro131">Tiro1</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro132" type="number" class="validate">
                          <label for="Tiro132">Tiro2</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro133" type="number" class="validate">
                          <label for="Tiro133">Tiro3</label>
                      </div>
                 </form>
            </span>
          
        </div>
        <div class="card-action">
          <a (click)="Guardar">Guardar</a>
        </div>
      </div>
    </div>
    <div class="col s6 m6">
      <div class="card light-blue darken-1">
        <div class="card-content white-text">
          <span class="card-title">Partido {{partido}} Ronda {{ronda}}<br> Equipo {{eq1}} VS Equipo {{eq2}}</span>
          <p>Lugar: Paca {{paca}}, Equipo {{eq2}} </p>
            <span class="row">
            <i class="material-icons prefix">account_circle</i>
            Tirador1:
                 <form class="col s12">
                      <div class="input-field col s3 white-text">
                          <input id="Tiro211" type="number" class="validate">
                          <label for="Tiro211">Tiro1</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro212" type="number" class="validate">
                          <label for="Tiro212">Tiro2</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro213" type="number" class="validate">
                          <label for="Tiro213">Tiro3</label>
                      </div>
                 </form>
            </span>
            <span class="row">
            <i class="material-icons prefix">account_circle</i>
            Tirador2:
                 <form class="col s12">
                      <div class="input-field col s3 white-text">
                          <input id="Tiro221" type="number" class="validate">
                          <label for="Tiro221">Tiro1</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro222" type="number" class="validate">
                          <label for="Tiro222">Tiro2</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro223" type="number" class="validate">
                          <label for="Tiro223">Tiro3</label>
                      </div>
                 </form>
            </span>
            <span class="row">
            <i class="material-icons prefix">account_circle</i>
            Tirador3:
                 <form class="col s12">
                      <div class="input-field col s3 white-text">
                          <input id="Tiro231" type="number" class="validate">
                          <label for="Tiro231">Tiro1</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro232" type="number" class="validate">
                          <label for="Tiro232">Tiro2</label>
                      </div>
                      <div class="input-field col s3 white-text">
                          <input id="Tiro233" type="number" class="validate">
                          <label for="Tiro233">Tiro3</label>
                      </div>
                 </form>
            </span>
        </div>
        <div class="card-action">
          <a (click)="Guardar">Guardar</a>
        </div>
      </div>
    </div>

    <button class="btn waves-effect waves-light amber"
            type="button" (click)="ronda=ronda+1" [disabled]="ronda>=4"
            name="action">Siguiente Ronda
    </button>
    <button class="btn waves-effect waves-light amber"
            type="button" *ngIf="ronda>=4" 
            (click)="ronda=ronda+1"
            name="action">Empate
    </button>   
    <button class="btn waves-effect waves-light amber"
            type="button" (click)="nextPartido()"
            name="action">Siguiente Partido
    </button>   
</div>