<div class="row">
      <div>
    	<div
        		*ngFor="let obj of carouselObj" 
        		[class.hidden]="Active != obj.id" 
        		class="magictime" 
        		[class.slideRightRetourn]="Active == obj.id" >
          			<img [src]="obj.src" class="img-fluid carousel" [alt]="obj.name"/>
      	</div>
    </div>
</div>