<header>
	<nav-bar></nav-bar>
</header>
<div>
	<div class="row">
		<router-outlet></router-outlet>
	</div>
	<div class="row" [hidden]="endCountdown">
		<span class="baja">Faltan:</span>
		<div class="alinea">
			<div class="flip-clock-wrapper">
				<span class="flip-clock-divider days">
					<span class="flip-clock-label">Days</span>
					<span class="flip-clock-dot top"></span>
					<span class="flip-clock-dot bottom"></span>
				</span>
				<ul class="flip">
					<li class="flip-clock-before">
						<a>
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">{{Days1}}</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">{{Days1}}</div>
							</div>
						</a>
					</li>
				</ul>
				<ul class="flip">
					<li class="flip-clock-before">
						<a>
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">{{Days2}}</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">{{Days2}}</div>
							</div>
						</a>
					</li>
				</ul>
				<span class="flip-clock-divider seconds">
					<span class="flip-clock-label">Hours</span>
					<span class="flip-clock-dot top"></span>
					<span class="flip-clock-dot bottom"></span>
				</span>
				<ul class="flip">
					<li class="flip-clock-before">
						<a>
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">{{Hours1}}</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">{{Hours1}}</div>
							</div>
						</a>
					</li>
				</ul>
				<ul class="flip">
					<li class="flip-clock-before">
						<a>
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">{{Hours2}}</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">{{Hours2}}</div>
							</div>
						</a>
					</li>
				</ul>
				<span class="flip-clock-divider seconds">
					<span class="flip-clock-label">Minutes</span>
					<span class="flip-clock-dot top"></span>
					<span class="flip-clock-dot bottom"></span>
				</span>
				<ul class="flip">
					<li class="flip-clock-before">
						<a>
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">{{Minutes1}}</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">{{Minutes1}}</div>
							</div>
						</a>
					</li>
				</ul>
				<ul class="flip">
					<li class="flip-clock-before">
						<a>
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">{{Minutes2}}</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">{{Minutes2}}</div>
							</div>
						</a>
					</li>
				</ul>
				<span class="flip-clock-divider seconds">
					<span class="flip-clock-label">Seconds</span>
					<span class="flip-clock-dot top"></span>
					<span class="flip-clock-dot bottom"></span>
				</span>
				<ul class="flip">
					<li class="flip-clock-before">
						<a>
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">{{Seconds1}}</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">{{Seconds1}}</div>
							</div>
						</a>
					</li>
				</ul>
				<ul class="flip">
					<li class="flip-clock-before">
						<a>
							<div class="up">
								<div class="shadow"></div>
								<div class="inn">{{Seconds2}}</div>
							</div>
							<div class="down">
								<div class="shadow"></div>
								<div class="inn">{{Seconds2}}</div>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>