<nav>
  <div class="nav-wrapper light-blue darken-1">
    <a [routerLink]="['Home']" (click)="setActive('Home')" class="brand-logo center">{{name}}</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li [class.active]="active == 'Home'">
          <a href=""  [routerLink]="['Home']" 
          (click)="setActive('Home')">
            Home
          </a>
      </li>
      <li [class.active]="active == 'Register'">
          <a href="" [routerLink]="['Register']" 
          (click)="setActive('Register')">
            Registro
          </a>
        </li>
      <li [class.active]="active == 'Calendar'">
          <a href="" [routerLink]="['Calendar']" 
          (click)="setActive('Calendar')">
            Calendario
          </a>
        </li>
      <li [class.active]="active == 'Results'">
          <a href="" [routerLink]="['Results']" 
          (click)="setActive('Results')">
            Resultados
          </a>
        </li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <a materialize="leanModal" [materializeParams]="[{dismissible: false}]" class="waves-effect waves-light btn amber" href="#login">Login</a>
        </li>
    </ul>
  </div>
</nav>

<!-- Modal Structure -->
<div id="login" class="modal">
  <div class="modal-content">
    <h4>Login</h4>
    <form name="loginForm" [ngFormModel]="loginForm">
          <div class="input-field col s12">
              <label for="Username">Username</label>
              <input type="text" [ngFormControl]="loginForm.controls['Username']" class="validate active">
            </div>
            <div class="input-field col s12">
              <label for="Password">Password</label>
              <input id="Password" type="password" [ngFormControl]="loginForm.controls['Password']" class="validate">
            </div> 
      </form>
  </div>
  <div class="modal-footer">
    <a (click)="login(loginForm.value)" [routerLink]="['Admin']" class="modal-action modal-close btn waves-effect waves-light amber">Login</a>
  </div>
</div>