
<div class="col s12 register">	
	<a class="waves-effect waves-light btn amber" (click)="setForm('University')">Universidad</a>
	<a class="waves-effect waves-light btn amber" (click)="setForm('Team')">Equipo</a>
	<a class="waves-effect waves-light btn amber" (click)="setForm('Player')">Jugador</a>
	<a class="waves-effect waves-light btn amber" (click)="setForm('Referi')">Referi</a>
	<a class="waves-effect waves-light btn amber" (click)="setForm('Paca')">Paca</a>
</div>

<div *ngIf="showForm == 'University'">
    <div class="col s12 m6 register card">
    	<div class="card-content">
    		<span class="card-title">Registrar Universidad</span>
			<form name="universityForm" [ngFormModel]="universityForm" (ngSubmit)="saveUniversity(universityForm.value)">
				  <div class="input-field col s12">
			        <label for="Nombre">Nombre</label>
			        <input type="text" [ngFormControl]="universityForm.controls['Nombre']" class="validate active">
			      </div>
			      <div class="input-field col s12">
			        <label for="Direccion">Direccion</label>
			        <input id="Direccion" type="text" [ngFormControl]="universityForm.controls['Direccion']" class="validate">
			      </div>
		    	<button class="btn waves-effect waves-light amber" [disabled]="!universityForm.valid" 
		    			type="submit" 
		    			name="action">Guardar
				    <i class="material-icons right">send</i>
				</button>			  
			</form>
    	</div>
	</div>
	<div class="col s6 register card">
		<div class="card-content">
			<span class="card-title">Universidades Registradas</span>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th data-field="id">#</th>
			      <th data-field="Nombre">Nombre</th>
			      <th data-field="Direccion">Direccion</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let university of listUnivesity">
			      <td>{{university.Clave}}</td>
			      <td>{{university.Nombre}}</td>
			      <td>{{university.Direccion}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<div *ngIf="showForm == 'Team'">
    <div class="col s12 m6 register card">
    	<div class="card-content">
    		<span class="card-title">Registrar Equipo</span>
			<form name="teamForm" [ngFormModel]="teamForm" (ngSubmit)="saveTeam(teamForm.value)">
				  <div class="input-field col s12">
			        <label for="Nombre">Nombre</label>
			        <input type="text" [ngFormControl]="teamForm.controls['Nombre']" class="validate active">
			      </div>
			      <div class="input-field col s12">
			        <label for="Representante">Representante</label>
			        <input type="text" [ngFormControl]="teamForm.controls['Representante']" class="validate active">
			      </div>
				  <div class="input-field col s12">
				    <select class="c-select" [ngFormControl]="teamForm.controls['Universidad']">
					  <option value="">Elige una universidad</option>
					  <option *ngFor="let university of listUnivesity" value="{{university.Clave}}" [disabled]="university.teamsCount>=maxTeamsUnivesity">{{university.Nombre}}{{" ("+university.teamsCount+")"}}</option>
					</select>
				  </div>
				<button class="register btn waves-effect waves-light amber" [disabled]="!teamForm.valid" 
		    			type="submit" 
		    			name="action">Guardar
				    <i class="material-icons right">send</i>
				</button>	
			</form>
    	</div>
	</div>
	<div class="col s6 register card">
		<div class="card-content">
			<span class="card-title">Equipos Registrados</span>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th data-field="id">#</th>
			      <th data-field="Nombre">Nombre</th>
			      <th data-field="Representante">Representante</th>
			      <th data-field="Universidad">Universidad</th>
			      <th data-field="Jugadores">Jugadores</th>
			    </tr>
			  </thead>
			  <tbody *ngFor="let team of listTeam">
				    <tr [class.table-danger]="team.playersCount < maxPlayers-1" [class.table-info]="team.playersCount >= maxPlayers-1">
				      <td>{{team.Clave}}</td>
				      <td>{{team.Nombre}}</td>
				      <td>{{team.Representante}}</td>
				      <td>{{team.Universidad}}</td>
				      <td>{{team.playersCount}}</td>
				    </tr>
				    <tr *ngIf="team.playersCount < maxPlayers-1">
				    	<td colspan="5" class="info">{{TeamNotParticip}}</td>
				    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<div *ngIf="showForm == 'Player'">
    <div class="col s12 m6 register card">
    	<div class="card-content">
    		<span class="card-title">Registrar Jugador</span>
			<form name="playerForm" [ngFormModel]="playerForm" (ngSubmit)="savePlayer(playerForm.value)">
				<div class="input-field col s12">
			        <label for="Nombre">Nombre</label>
			        <input type="text" [ngFormControl]="playerForm.controls['Nombre']" class="validate active">
			    </div>
			    <div class="input-field col s12">
			        <label for="Apellidos">Apellidos</label>
			        <input type="text" [ngFormControl]="playerForm.controls['Apellidos']" class="validate active">
			    </div>
				<div class="input-field col s12">
				    <select class="c-select" [ngFormControl]="playerForm.controls['Equipo']">
					  <option value="">Elige un equipo</option>
					  <option *ngFor="let team of listTeam" value="{{team.Clave}}" [disabled]="team.playersCount>=maxPlayers">{{team.Nombre}}{{" ("+team.playersCount+")"}}</option>
					</select>
				</div>
				<button class="register btn waves-effect waves-light amber" [disabled]="!playerForm.valid" 
		    			type="submit" 
		    			name="action">Guardar
				    <i class="material-icons right">send</i>
				</button>
			</form>
    	</div>
	</div>
	<div class="col s6 register">
		<div class="card-content">
			<span class="card-title">Jugadores Registrados</span>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th data-field="id">#</th>
			      <th data-field="Nombre">Nombre</th>
			      <th data-field="Apellidos">Apellidos</th>
			      <th data-field="Equipo">Equipo</th>
			    </tr>
			  </thead>
			  <tbody>
		    	<tr *ngFor="let player of listPlayer">
			      <td>{{player.Clave}}</td>
			      <td>{{player.Nombre}}</td>
			      <td>{{player.Apellidos}}</td>
			      <td>{{player.Equipo}}</td>
		    	</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<div *ngIf="showForm == 'Referi'">
    <div class="col s12 m6 register card">
    	<div class="card-content">
    		<span class="card-title">Registrar Arbitro</span>
			<form name="referiForm" [ngFormModel]="referiForm" (ngSubmit)="saveReferi(referiForm.value)">
				<div class="input-field col s12">
			        <label for="Nombre">Nombre</label>
			        <input type="text" [ngFormControl]="referiForm.controls['Nombre']" class="validate active">
			    </div>
			    <div class="input-field col s12">
			        <label for="Apellidos">Apellidos</label>
			        <input type="text" [ngFormControl]="referiForm.controls['Apellidos']" class="validate active">
			    </div>
			    <button class="register btn waves-effect waves-light amber" [disabled]="!referiForm.valid" 
		    			type="submit" 
		    			name="action">Guardar
				    <i class="material-icons right">send</i>
				</button>
			</form>
    	</div>
	</div>
	<div class="col s6 register card">
		<div class="card-content">
			<span class="card-title">Arbitros Registrados</span>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th data-field="id">#</th>
			      <th data-field="Nombre">Nombre</th>
			      <th data-field="Apellidos">Apellidos</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let referi of listReferi">
			      <td>{{referi.Clave}}</td>
			      <td>{{referi.Nombre}}</td>
			      <td>{{referi.Apellidos}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>

<div *ngIf="showForm == 'Paca'">
    <div class="col s12 m6 register card">
    	<span class="card-title">Registrar Paca</span>
		<form name="pacaForm" [ngFormModel]="pacaForm" (ngSubmit)="savePaca(pacaForm.value)">
			  <div class="input-field col s12">
			        <label for="Nombre">Nombre</label>
			        <input type="text" [ngFormControl]="pacaForm.controls['Nombre']" class="validate active">
			   </div>
			   <div class="input-field col s12">
			        <label for="Lugar">Lugar</label>
			        <input type="text" [ngFormControl]="pacaForm.controls['Lugar']" class="validate active">
			   </div>
		  	<button class="register btn waves-effect waves-light amber" [disabled]="!pacaForm.valid" 
		    			type="submit" 
		    			name="action">Guardar
				    <i class="material-icons right">send</i>
			</button>
		</form>
	</div>
	<div class="col s6 register card">
		<div class="card-content">
			<span class="card-title">Pacas Registrados</span>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th data-field="id">#</th>
			      <th data-field="Nombre">Nombre</th>
			      <th data-field="Lugar">Lugar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let paca of listPaca">
			      <td>{{paca.Clave}}</td>
			      <td>{{paca.Nombre}}</td>
			      <td>{{paca.Lugar}}</td>
			    </tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>