body {
  font-family: "Lato", Arial, sans-serif;
}
a{
	text-decoration: none;
}
.register{
	margin-top: 10px;
}
.hidden{
	display: none;
}
.info{
	text-align: right;
	font-size: 8px;
	color: #F15270;
}
.carousel{
	width: 100%;
	height: 500px;
}
.alinea{
	position: absolute;
	left: 300;
}
.baja{
	font-size: 1.75rem;
    position: absolute;
    margin-top: 50px;
}