body{font-family:Lato,Arial,sans-serif}a{text-decoration:none}.register{margin-top:10px}.hidden{display:none}.info{text-align:right;font-size:8px;color:#f15270}.carousel{width:100%;height:500px}.alinea{left:300}.alinea,.baja{position:absolute}.baja{font-size:1.75rem;margin-top:50px}